<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Somke test" verbose="2">
  <test thread-count="5" name="Test">
    <classes>
      <class name="batchesinTestNG.Batches_Testng"/>
      <class name="batchesinTestNG.singup"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
