<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="Selenium_Concepts.ExtenAd"/>
	</listeners>
	
	
	
	
	
	
  <test name="MTA TestScripts">
	  <classes>
		  <class name="Selenium_Concepts.Mt_report"></class>
	  </classes>
	  
	  
	  
	  
  </test> <!-- Test -->
</suite> <!-- Suite -->
